/* 全局设置 */
* {
    font-family: "Maple Mono NF CN", "Maple Mono NF CN", "Maple Mono NF CN";
    font-weight: bold;
    font-size: 12px;
    color: #dcdfe1;
}

/* 透明 Waybar 背景 */
#waybar {
    background-color: rgba(142, 73, 73, 0);
    border: none;
    box-shadow: none;
}

/* 所有模块统一风格 */
#workspaces,
#window,
#tray {
    /*background-color: rgba(29,31,46, 0.95);*/
    background-color: rgba(142, 73, 73, 0.6);
    /* padding: 4px 4px; */
    padding-left: 4px;
    padding-right: 4px;
    /* 保持内部间距 */

    margin-top: 0px;
    margin-bottom: 4px;
    /* 外部间距增加 */
    margin-left: 6px;
    /* 外部间距增加 */
    margin-right: 6px;
    /* 外部间距增加 */

    border-radius: 10px;
    border-width: 0px;
}

#clock,
#custom-power {
    background-color: rgba(142, 73, 73, 0.6);
    margin-top: 0px;
    /* 与屏幕顶部留出距离 */
    margin-right: 6px;
    margin-bottom: 4px;
    padding: 4px 2px;
    /* 保持内部间距 */
    border-radius: 0 10px 10px 0;
    border-width: 0px;
}

#network,
#custom-lock {
    background-color: rgba(142, 73, 73, 0.6);
    margin-top: 0px;
    /* 与屏幕顶部留出距离 */
    margin-left: 6px;
    margin-bottom: 4px;
    padding: 4px 2px;
    /* 保持内部间距 */
    border-radius: 10px 0 0 10px;
    border-width: 0px;
}

#custom-reboot,
#bluetooth,
#battery,
#pulseaudio,
#backlight,
#custom-temperature,
#memory,
#cpu {
    background-color: rgba(142, 73, 73, 0.6);
    margin-top: 0px;
    /* 与屏幕顶部留出距离 */
    margin-bottom: 4px;
    padding: 4px 2px;
    /* 保持内部间距 */
    border-width: 0px;
}

#custpm-temperature.critical,
#pulseaudio.muted {
    color: #FF0000;
    /* padding-top: 0; */
    padding: 4px 2px;
}

/* 鼠标悬停变亮一点 */
#bluetooth:hover,
#network:hover,
/*#tray:hover,*/
#backlight:hover,
#battery:hover,
#pulseaudio:hover,
#custom-temperature:hover,
#memory:hover,
#cpu:hover,
#clock:hover,
#custom-lock:hover,
#custom-reboot:hover,
#custom-power:hover,
/*#workspaces:hover,*/
#window:hover {
    background-color: rgba(142, 73, 73, 0.8);
}

/* 工作区激活状态高亮 */
#workspaces button:hover {
    background-color: rgba(142, 73, 73, 0.4);
    /* padding: 2px 8px; */
    margin: 0 2px;
    border-radius: 10px;
}

#workspaces button.active {
    background-color: rgba(142, 73, 73, 1);
    /* 蓝色高亮 */
    color: #ffffff;
    /* padding: 2px 8px; */
    margin: 0 2px;
    border-radius: 10px;
}

/* 未激活工作区按钮 */
#workspaces button {
    background: transparent;
    border: none;
    color: #888888;
    /* padding: 2px 8px; */
    margin: 0 2px;
    font-weight: bold;
}

#window {
    font-weight: 500;
    font-style: italic;
}